 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	    <div class="row">
		  <div class="top-form">
		    <div class="col-sm-6 col-md-4 col-lg-4">
				<div class="input-group form-group">
					<input type="text" class="form-control common-search-bar" placeholder="Search by Company Name" />
					<span class="input-group-btn">
						<button class="btn search-icon-btn" type="button">
							<span class=" glyphicon glyphicon-search custom-search-icon"></span>
						</button>
					</span>
				</div>
			 </div>
		    <div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>Region</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			  <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>State</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>City</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>Branch</option>
					 </select>
				</div>
			</div>
		  </div>
		</div>
		
		 <div class="top-box-border">
			<div class="top-datepicker-row">
			  <div class="row">
				<div class="col-sm-12 col-md-4 col-lg-2">
				    <div class="form-group"> 						    
						 <select class="form-control common-select-box ">
						  <option>Select Category</option>
						   <option>Select Category</option>
						    <option>Select Category</option>
						 </select>
					</div>
				</div>
				
				<div class="col-sm-12 col-md-8 col-lg-10">
				    <div class="common-button-box left mobile"> 						    
						<button class="btn common-button mobile-green">Generate Notification</button>
						<button class="btn common-button grey mg20">Notification History</button>
					</div>
				</div>
			</div>
		  </div>
		  <div class="table-responsive">
			 <table class="table table-bordered custum-border">
				<thead>
				  <tr class="common-table-head">
					<th>
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value2" >
							 <label for="styled-checkbox-1"></label>
						</div>
					 </th>
					<th>Trip ID</th>
					
					<th>User Name</th>
					<th>Status As Per Plan</th>
					<th> Current Status</th>
					<th>Action</th>
				  </tr>
				</thead>
				<tbody class="common-table-inner">
				  <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" >
							 <label for="styled-checkbox-2"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Deepak Srivastav </td>
					
					<td>26 July,4:00 PM</td>
					<td>4 Hours Delay </td>
				
					<td class="table-anchor">
					  <a href="#">  Generate Notification</a>
					</td >
				  </tr>
				  <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value2" >
							 <label for="styled-checkbox-3"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Deepak Srivastav </td>
					
					<td>29 July,12:00 PM</td>
					<td> On Time </td>
			
					<td class="table-anchor">
					  <a href="#"> Generate Notification</a>
					</td >
				  </tr>
				  <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value2" >
							 <label for="styled-checkbox-4"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Billu Narela </td>
				
					<td>29 July,5:00 PM</td>
					<td>3 Hours Delay </td>
				
					<td class="table-anchor">
					  <a href="#">  Generate Notification</a>
					</td >
				  </tr>
				  <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value2" >
							 <label for="styled-checkbox-5"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Malviya Nehru </td>
					
					<td>29 July,11:00 PM</td>
					<td>2 Hours Delay </td>
				
					<td class="table-anchor">
					  <a href="#">  Generate Notification</a>
					</td >
				  </tr>
				   <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value2" >
							 <label for="styled-checkbox-6"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Sachin Upadhyay</td>
					
					<td>29 July,6:00 PM</td>
					<td>On Time</td>
				
					<td class="table-anchor">
					  <a href="#"> Generate Notification</a>
					</td >
				  </tr>
				   <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value2" >
							 <label for="styled-checkbox-7"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Deepak Srivastav </td>
				
					<td>29 July,4:00 PM</td>
					<td>On Time</td>
					
					<td class="table-anchor">
					  <a href="#">  Generate Notification</a>
					</td >
				  </tr>
				  <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="value2" >
							 <label for="styled-checkbox-8"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Manish Narayan </td>
					
					<td>29 July,4:00 PM</td>
					<td>On Time</td>
					
					<td class="table-anchor">
					  <a href="#"> Generate Notification</a>
					</td >
				  </tr>
				  <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="value2" >
							 <label for="styled-checkbox-9"></label>
						</div>
					</td>
					<td>546242</td>
					<td>Sujith Kumar </td>
				
					<td>29 July,7:00 PM</td>
					<td>7 Hours Delay </td>
					
					<td class="table-anchor">
					  <a href="#"> Generate Notification</a>
					</td >
				  </tr>
				  
				</tbody>
			 </table>
		  </div> 
		  
		  
		  
	    </div>
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>