 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	    <div class="row">
		  <div class="top-form">
		    <div class="col-sm-6 col-md-4 col-lg-4">
				<div class="input-group form-group">
					<input type="text" class="form-control common-search-bar" placeholder="Search by Company Name" />
					<span class="input-group-btn">
						<button class="btn search-icon-btn" type="button">
							<span class=" glyphicon glyphicon-search custom-search-icon"></span>
						</button>
					</span>
				</div>
			 </div>
		    <div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					<button class="btn common-button mobile-green">Search</button>
				</div>
			</div>

			
			
		  </div>
		</div>
		
		 <div class="top-box-border">
			
		  <div class="table-responsive">
			 <table class="table table-bordered custum-border">
				<thead>
				  <tr class="common-table-head">
					<th>
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value2" >
							 <label for="styled-checkbox-1"></label>
						</div>
					 </th>
					<th>Category Name</th>	
					<th>Created Date</th>	
					<th>Action</th>
					
					
				  </tr>
				</thead>
				<tbody class="common-table-inner">
				  <tr>
					<td> 
						<div class="global-checkbox">
							<input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2" >
							 <label for="styled-checkbox-2"></label>
						</div>
					</td>
					<td>weby</td>
					<td>12 oct </td>
					
					<td>status</td>
				
				
				  </tr>
				 
				  
				  
				</tbody>
			 </table>
		  </div> 
		  
		  
		  
	    </div>
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>