  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	    
		<div class="common-top-box">
		   <div class="row">
		     <div class="col-sm-6  col-md-4 col-lg-4">
                  <div class="dashboard-column color1">
                     <div class="column-image column-cell">
                       <img src="dist/img/vendors.png">
                     </div>
					 <div class="column-cell">
                       <h2>672</h2>
                       <p>User</p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color2">
                     <div class="column-image column-cell">
                        <img src="dist/img/current-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>222</h2>
                       <p>Product</p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color3">
                     <div class="column-image column-cell">
                        <img src="dist/img/sched-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>115</h2>
                       <p>Category</p>
					 </div>
                  </div>
               </div>
		   </div>
		</div>
		<div class="common-top-box">
		   <div class="row">
		     <div class="col-sm-6  col-md-4 col-lg-4">
                  <div class="dashboard-column color1">
                     <div class="column-image column-cell">
                       <img src="dist/img/vendors.png">
                     </div>
					 <div class="column-cell">
                       <h2>672</h2>
                       <p>Pending Enquiry</p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color2">
                     <div class="column-image column-cell">
                        <img src="dist/img/current-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>222</h2>
                       <p>Completed Enquiry</p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color3">
                     <div class="column-image column-cell">
                        <img src="dist/img/sched-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>115</h2>
                       <p>Pending Order</p>
					 </div>
                  </div>
               </div>
		   </div>
		</div>
		<div class="common-top-box">
		   <div class="row">
		     <div class="col-sm-6  col-md-4 col-lg-4">
                  <div class="dashboard-column color1">
                     <div class="column-image column-cell">
                       <img src="dist/img/vendors.png">
                     </div>
					 <div class="column-cell">
                       <h2>672</h2>
                       <p>Completed Orders</p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color2">
                     <div class="column-image column-cell">
                        <img src="dist/img/current-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>222</h2>
                       <p>Canceled Orders </p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color3">
                     <div class="column-image column-cell">
                        <img src="dist/img/sched-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>50</h2>
                       <p>----</p>
					 </div>
                  </div>
               </div>
		   </div>
		</div>

	
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>