  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	    <div class="row">
		  <div class="top-form">
		    <div class="col-sm-6 col-md-4 col-lg-4">
				<div class="input-group form-group">
					<input type="text" class="form-control common-search-bar" placeholder="Search" />
					<span class="input-group-btn">
						<button class="btn search-icon-btn" type="button">
							<span class=" glyphicon glyphicon-search custom-search-icon"></span>
						</button>
					</span>
				</div>
			 </div>
		    <div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>Region</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			  <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>State</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>City</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>Branch</option>
					 </select>
				</div>
			</div>
		  </div>
		
		
		</div>
		<div class="common-top-box">
		   <div class="row">
		     <div class="col-sm-6  col-md-4 col-lg-4">
                  <div class="dashboard-column color1">
                     <div class="column-image column-cell">
                       <img src="dist/img/vendors.png">
                     </div>
					 <div class="column-cell">
                       <h2>672</h2>
                       <p>Vendors</p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color2">
                     <div class="column-image column-cell">
                        <img src="dist/img/current-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>222</h2>
                       <p>Current Trips </p>
					 </div>
                  </div>
               </div>
			   <div class="col-sm-6 col-md-4 col-lg-4">
                  <div class="dashboard-column color3">
                     <div class="column-image column-cell">
                        <img src="dist/img/sched-trips.png">
                     </div>
					 <div class="column-cell">
                       <h2>115</h2>
                       <p>Scheduled Trips</p>
					 </div>
                  </div>
               </div>
		   </div>
		</div>
	    <div class="dashboard-inner-box">
		  <div class="row">
		    <div class="col-sm-6">
			  <div class="common-box-border">
			     <div class="heading">
				    <h3 class="edit-heading">Revenue</h3>
				    <i class="fa fa-filter modify-filter" aria-hidden="true"></i>
				 </div>
			     <div class="common-dashboard-image-box">
				    <img src="dist/img/revenue-image.png"  class="img-responsive"/> 
				 </div>
			  </div>
			
			
			</div>
			 <div class="col-sm-6">
			     <div class="common-box-border">
					 <div class="heading">
						<h3 class="edit-heading">Demand Cluster</h3>
						<i class="fa fa-filter modify-filter" aria-hidden="true"></i>
					 </div>
					 <div class="common-dashboard-image-box">
						<img src="dist/img/demand-image.png" class="img-responsive"/> 
					 </div>
			  </div>
			 
			 </div>
			  <div class="col-sm-6">
			     <div class="common-box-border">
					 <div class="heading">
						<h3 class="edit-heading">Trucks Locator</h3>
						<i class="fa fa-filter modify-filter" aria-hidden="true"></i>
					 </div>
					 <div class="common-dashboard-image-box">
						<img src="dist/img/truck-location-image.png" class="img-responsive"/> 
					 </div>
			  </div>
			  
			  </div>
			   <div class="col-sm-6">
			     <div class="common-box-border">
					 <div class="heading">
						<h3 class="edit-heading">Sales Per Region</h3>
						<i class="fa fa-filter modify-filter" aria-hidden="true"></i>
					 </div>
					 <div class="common-dashboard-image-box">
						<img src="dist/img/sales-per-region.png" class="img-responsive"/> 
					 </div>
			  </div>
			   
			   </div>
			    <div class="col-sm-12">
				   <div class="common-box-border">
					 <div class="heading">
						<h3 class="edit-heading">Net Profit</h3>
						<i class="fa fa-filter modify-filter" aria-hidden="true"></i>
					 </div>
					 <div class="common-dashboard-image-box">
						<img src="dist/img/profit-image.png" class="img-responsive"/> 
					 </div>
			       </div>
				      
				</div>
		  
		  
		  </div>
		
		</div>
	
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>