<div class="content-wrapper color">
    <section class="content">
        <div class="global-box">
            
            <div class="top-box-border">
                <div class="top-datepicker-row">
                    <div class="row">
                        <!-- div class="col-sm-12 col-md-4 col-lg-2">
                            <div class="form-group">
                                <select class="form-control common-select-box ">
                                    <option>Select Category</option>
                                    <option>Select Category</option>
                                    <option>Select Category</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="col-sm-12 col-md-8 col-lg-10">
                            <div class="common-button-box left mobile">
                                <button class="btn common-button mobile-green">Add New Offer</button>
                                <!-- <button class="btn common-button grey mg20">Notification History</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered custum-border">
                        <thead>
                            <tr class="common-table-head">
                                <th>Type</th>
                                <th>Title</th>
                                <th>Promo Code</th>
                                <th>Image</th>
                                <th>Offer</th>
                                <th>Expiry Date</th>
                                <th>Description</th> 
                                <th>Action</th>                           
                            </tr>
                        </thead>
                        <tbody class="common-table-inner">
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>
                            <tr>
                                <td>_</td>
                                <td>12% Off</td>
                                <td>26AWB</td>
                                <td>_</td>
                                <td>_</td>
                                <td>30 Aug 2018</td>
                                <td>_</td>
                                <td class="table-anchor"> <a href="#">Edit</a> </td>
                            </tr>                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>