 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	    <div class="row">
		  <div class="top-form">
		    <div class="col-sm-6 col-md-4 col-lg-4">
				<div class="input-group form-group">
					<input type="text" class="form-control common-search-bar" placeholder="Search by Name & phone number" />
					<span class="input-group-btn">
						<button class="btn search-icon-btn" type="button">
							<span class=" glyphicon glyphicon-search custom-search-icon"></span>
						</button>
					</span>
				</div>
			 </div>
		    <div class="col-sm-6 col-md-4 col-lg-2">
				<div class="form-group">
			<ul class="pagination">
                <li ng-class="{'disabled':vm.paginationObj.prev}" ng-click="vm.prevAndNext('prev',vm.paginationObj.prev)" style="cursor: pointer;"><a><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a></li>
                <li ng-class="{'disabled':vm.paginationObj.next}" style="cursor: pointer;"><a ng-click="vm.prevAndNext('next',vm.paginationObj.next)">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>&nbsp;
               <li><a><b>{{vm.paginationObj.from}}-{{vm.paginationObj.to}} of {{vm.paginationObj.total}}</b></a></li>
                </ul>
            </div>
           </div>

			
			
		  </div>
		</div>
		
		 <div class="top-box-border">
			
		  <div class="table-responsive">
			 <table class="table table-bordered custum-border">
				<thead>
				  <tr class="common-table-head">
					
					<th>Name</th>	
					<th>EmailId</th>	
					<th>Phone Number</th>
					<th>Address</th>
			        <th>Created Date</th>


					
				  </tr>
				</thead>
				<tbody class="common-table-inner">
				  <tr ng-repeat="data in vm.paginationObj.list">
					
					<td>{{data.name}}</td>
					<td>{{data.emailId}}</td>
					
					<td>{{data.phoneNumber}}</td>
					<td>{{data.address}}</td>
					<td>{{data.createdAt | date:'MMM dd,yyyy'}}</td>
				
				  </tr>
				  
				 
				</tbody>
			 </table>
		  </div> 
		  
		  

	    </div>
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>