 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	  	<div class="row">
	     <div class="col-md-3">
                        <div class="input-group form-group">
                            <input type="text" class="form-control common-search-bar" placeholder="Search by product Name" ng-enter="vm.init()" ng-model="vm.search" /> <span class="input-group-btn">
						    <button class="btn search-icon-btn" type="button">
							<span class=" glyphicon glyphicon-search custom-search-icon"></span> </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
						<!-- <div class="form-group"> -->
							<ul class="pagination" style="margin-top: 3px;">
				                <li ng-class="{'disabled':vm.paginationObj.prev}" ng-click="vm.prevAndNext('prev',vm.paginationObj.prev)" style="cursor: pointer;"><a><i class="fa fa-angle-left" aria-hidden="true"></i> Prev</a></li>
				                <li ng-class="{'disabled':vm.paginationObj.next}" style="cursor: pointer;"><a ng-click="vm.prevAndNext('next',vm.paginationObj.next)">Next <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>&nbsp;
				               <li><a style="margin-top:-20px;"><b>{{vm.paginationObj.from}}-{{vm.paginationObj.to}} of {{vm.paginationObj.total}}</b></a></li>
		                </ul>
		           <!--  </div> -->
         			  </div>

                   </div> 
		</div>
		
		 <div class="top-box-border">
			
		  <div class="table-responsive">
			 <table class="table table-bordered custum-border">
				<thead>
				  <tr class="common-table-head">
					
					<th>Name</th>	
					<th>EmailId</th>	
					<th>Phone Number</th>
					<th>Description</th>
					<th>Status</th>
					<th>Action</th>
					
				  </tr>
				</thead>
				<tbody class="common-table-inner">
				 
				  
				  <tr ng-repeat="data in vm.paginationObj.list">
					
					<td>{{data.name}}</td>
					<td>{{data.emailId}}</td>
					<td>{{data.phoneNumber}}</td>
					<td>{{data.description}}</td>
					<td>{{data.status == 0 ?'Pending' : data.status == 1 ?'Completed':'Cancelled'}}</td>
					<td class="table-anchor" ng-if="data.status ==0">
					  <a style="cursor: pointer;" ng-click="vm.openModal('confirm-modal','Do you want to cancle this enquiry?',2,data._id)">Cancel</a>
					  <a style="cursor: pointer;" ng-click="vm.openModal('confirm-modal','Do you want to done this enquiry?', 1,data._id)">Done</a>
					</td >
				
				  </tr>
				</tbody>
			 </table>
		  </div>   
	    </div>
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>
  <div ng-include src="'component/common/modal.html'"></div>