  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	    <div class="row">
		  <div class="top-form">
		    <div class="col-sm-6 col-md-4 col-lg-4">
				<div class="input-group form-group">
					<input type="text" class="form-control common-search-bar" placeholder="Search by Company Name" />
					<span class="input-group-btn">
						<button class="btn search-icon-btn" type="button">
							<span class=" glyphicon glyphicon-search custom-search-icon"></span>
						</button>
					</span>
				</div>
			 </div>
		    <div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>Region</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			  <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>State</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>City</option>
					 </select>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 col-lg-2">
			   <div class="form-group"> 						    
					 <select class="form-control common-select-box ">
					  <option>Branch</option>
					 </select>
				</div>
			</div>
		  </div>
		</div>
		
		 <div class="top-box-border">
			<div class="top-datepicker-row">
			  <div class="row">
				<div class="col-sm-6 col-md-4 col-lg-3">
				    <div class="form-group"> 						    
						<div class="row date-block">
							<label class="col-sm-4">Date From</label>
							<div class="col-sm-8">
								<div class="date">
								 <input type="text" class="form-control datepicker" id="datepicker" placeholder="30/06/2017">
								 <img class="datepicker-img" src="dist/img/calendar.png"/>
								</div>
							</div>
					    </div> 
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-3">
				    <div class="form-group"> 						    
						 <div class="row date-block">
							<label class="col-sm-4">To</label>
							<div class="col-sm-8">
								<div class="date">
								 <input type="text" class="form-control datepicker" id="datepicker" placeholder="30/07/2017">
								 <img class="datepicker-img" src="dist/img/calendar.png"/>
								</div>
							</div>
					    </div> 
					</div>
				</div>
			</div>
		  </div>
		  <div class="table-responsive">
			 <table class="table table-bordered custum-border">
				<thead>
				  <tr class="common-table-head">
					<th>Job<br>ID</th>
					<th>Customer<br>Name</th>
					<th>Company<br>Name</th>
					<th>Order<br>Value</th>
					<th>Source<br>Location</th>
					<th>Drop<br>Location </th>
					<th>Status</th>
					<th>No.of<br>Trucks</th>
					<th>Dispatched<br>Date</th>
					<th>Arrival<br>Date</th>
					<th>Cargo<br>Type</th>
					<th>Service<br>Type</th>
					<th>Action</th>
				  </tr>
				</thead>
				<tbody class="common-table-inner">
				  <tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Unblock</a>
					</td >
				  </tr>
				  <tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Block</a>
					</td >
				  </tr>
				<tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Unblock</a>
					</td >
				  </tr>
				  <tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Block</a>
					</td >
				  </tr>
				  <tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Unblock</a>
					</td >
				  </tr>
				  <tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Block</a>
					</td >
				  </tr>
				  <tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Unblock</a>
					</td >
				  </tr>
				  <tr>
					<td>546242</td>
					<td>Raj</td>
					<td>Mobiloitte</td>
					<td><i class="fa fa-inr rate"> </i> 50000/-</td>
					<td>Delhi</td>
					<td>Mumbai</td>
					<td>Dispatched</td>
					<td>5</td>
					<td>08/07/2017</td>
					<td>09/07/2017</td>
					<td>Dry</td>
					<td>09/07/2017</td>
					<td class="table-anchor">
					  <a href="#"> Block</a>
					</td >
				  </tr>
				  
				</tbody>
			 </table>
		  </div> 
		  
		  
		  
	    </div>
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>