  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper color">
    <!-- Content Header (Page header) -->
    <section class="content">
	  <div class="global-box">
	    <div class="row">
		  <div class="top-form">
		    <div class="col-sm-4 col-md-4 col-lg-4">
				<div class="input-group form-group">
					<input type="text" class="form-control common-search-bar" placeholder="Search by user Name" />
					<span class="input-group-btn">
						<button class="btn search-icon-btn" type="button">
							<span class=" glyphicon glyphicon-search custom-search-icon"></span>
						</button>
					</span>
				</div>
			 </div>
		    <div class="col-sm-4 col-md-4 col-lg-3">
				    <div class="form-group"> 						    
						<div class="row date-block">
							<label class="col-sm-4">Date From</label>
							<div class="col-sm-8">
								<div class="date">
								 <input type="text" class="form-control datepicker" id="datepicker" placeholder="30/06/2017">
								 <img class="datepicker-img" src="dist/img/calendar.png"/>
								</div>
							</div>
					    </div> 
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-3">
				    <div class="form-group"> 						    
						 <div class="row date-block">
							<label class="col-sm-4">To</label>
							<div class="col-sm-8">
								<div class="date">
								 <input type="text" class="form-control datepicker" id="datepicker" placeholder="30/07/2017">
								 <img class="datepicker-img" src="dist/img/calendar.png"/>
								</div>
							</div>
					    </div> 
					</div>
				</div>
		  </div>
		</div>
		
		 <div class="top-box-border">
			
		  <div class="table-responsive">
			 <table class="table table-bordered custum-border">
				<thead>
				  <tr class="common-table-head">
					<th>Order Id</th>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Product</th>
					<th>Category</th>
					<th>Quantity</th>
					<th>Order Date</th>
					<th>Status</th>
					<th>Action</th>
				  </tr>
				</thead>
				<tbody class="common-table-inner">
				  <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-check" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				   <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-check" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				   <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				   <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				   <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				   <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				   <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				   <tr>
					<td>546242</td>
					<td>Susheel</td>
					<td>8800418935</td>
					<td>Product</td>
					<td>Category</td>
					<td>3</td>
					<td>12 Sep ,2018</td>
					<td>Confirmed</td>
					<td class="table-anchor">
					  <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('confirm',data._id)"></i></a>
                      <a style="cursor: pointer;"><i class="fa fa-trash" ng-click="vm.openModal('cancel',data._id)"></i></a>
					</td >
				  </tr>
				  
				  
				 
				  
				</tbody>
			 </table>
		  </div> 
		  
		  
		  
	    </div>
	   </div> 
     </section>
      

    <!-- Main content -->
    
    <!-- /.content -->
  </div>
  <div ng-include src="'component/common/modal.html'"></div>