<div class="content-wrapper">
    <section class="content">
        
        <h2 class="global-heading">Terms & Condition</h2> 
        <textarea name="ckeditor" class="form-control pos_ckeditor" ng-model="vm.terms"></textarea>
        <div class="text-center m-t-20"> 
            <a class="btn common-button mobile-green" ng-click="vm.enableDisableEditorTool()" ng-if="vm.readOnly==true">Edit</a> 
            <a class="btn common-button mobile-green" ng-click="vm.updateData()" ng-if="vm.readOnly==false" ng-disabled="isRequesting">{{isRequesting?'Updating...':'Update'}}</a> 
        </div>
    </section>
</div>